.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    border-radius: 20px;
    padding: 12px;
    width: 353px;
    height: 78px;
    background: rgba(255, 255, 255, 0.1);
}

.taskImage {
    flex: 0 0 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 255, 0.1);
}

.infoTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;

    margin-bottom: 8px;
}

.infoReward{
    display: flex;
    align-items: center;
    gap: 9px;
}

.completed {
    flex: 0 0 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 8px 0px;
    width: 42px;
    height: 42px;
    background-color: #47deff;
}

.completeBtn {
    flex: 0 0 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 8px 0px;
    width: 42px;
    height: 42px;
    background-color: white;
}
