.openCase {
    width: 353px;
    margin: 0 auto;
    margin-bottom: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.casePicker {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-bottom: 36px;
}
.img {
    border-radius: 32px;
    width: 186px;
    height: 186px;
    background: #435265;
    background: radial-gradient(circle, rgba(67, 82, 101, 1) 0%, rgba(67, 82, 101, 0.3) 100%);
}

.img {
    border-radius: 20px;
}

.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1000px;
    width: 46px;
    height: 47px;

    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.1);
}

.openBtns {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 34px;
}

.btn {
    border-radius: 1000px;
    padding: 8px 12px 8px 20px;
    width: 191px;
    height: 54px;

    background-color: white;

    color: #0e1526;

    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 700;
    font-size: 16px;
    font-variant: all-small-caps;
    text-align: center;

    margin-bottom: 20px;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    color: white;
    border-radius: 1000px;
    /* padding: 6px 10px 6px 14px; */
    width: 100px;
    height: 30px;
    background: #0e1526;
}

.counts {
    position: relative;
    display: flex;
    cursor: pointer;
}

.active {
    background-color: white;
    color: #0e1526;
}

.count1 {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #3e4451;
    border-radius: 1000px 0 0 1000px;
    padding: 6px 14px 6px 16px;
    width: 42px;
    height: 32px;
}

.count2 {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #3e4451;
    padding: 6px 14px;
    width: 42px;
    height: 32px;
}

.count3 {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #3e4451;
    border-radius: 0 1000px 1000px 0;
    padding: 6px 16px 6px 14px;
    width: 42px;
    height: 32px;
}

.slider {
    width: 353px;

    display: flex;
    justify-content: center;
}


.activeSlide {
    transform: scale(1.3);
    opacity: 1;
}

.alert {
    width: 200px;
    position: absolute;
    left: calc(100% + 15px);
    top: 50%;
    transform: translateY(-50%);

}
